body {
    background: #F8F6F3;
    font-family: MicrosoftYaHei;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/* 容器 */
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
@media screen and (max-width:768px){
    .wrapper {
        width: 100%;
    }
}


/* 头部顶栏 */

header {
    height: 72px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .brand {
    display: none;
}


/* 用户信息 */
header .user-info {
    display: flex;
    align-items: center;
}

/* 用户头像 */
 .user-info .avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 16px;
}

/* 用户名 */
 .user-info .username {
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: rgba(90, 50, 60, 1);
    line-height: 19px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* 三角形图标 */
 .user-info .triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(169, 169, 169, 1) transparent transparent transparent;
    margin: 5px 0 0 4px;
}

/* ================================================================== */
@media screen and (max-width:768px){
    header {
        box-sizing: border-box;
        width: 100%;
        height: 66px;
        padding: 0 27px 0 24px;
        justify-content: space-between;
    }
    header .brand {
        display: block;
        display: flex;
        justify-content:flex-start;
        align-items: center;
    }
    header .brand .logo {
        width: 44px;
        height: 45px;
        margin-right: 9px;
    }
    header .brand .name {
        font-size:30px;
        font-family:MicrosoftYaHei;
        color:rgba(90,50,60,1);
        line-height:40px;
        letter-spacing:1px;
    }
    .user-info .avatar {
        width: 42px;
        height: 42px;
    }
    .user-info .username {
        font-size:20px;
        line-height:26px;
    }

}


/* =================中间内容区 =======================*/

 main {
     width: 100%;
}


main .left-wrapper {
    width:calc(100% - 384px);
    margin-right: 24px;
    float: left;
}

main  .right-wrapper {
    float: right;
    position: sticky;
    position:-webkit-sticky;
    top: 20px;
    box-sizing: border-box;
    width: 360px;
    max-height: 937px;
    border-radius: 18px;
    padding: 0 24px;
    background: #fff;
    border: 2px solid rgba(180, 160, 160, 1);
    margin-top: 30px;
}


@media screen and (max-width:768px){
    main .left-wrapper{
        float: none;
        width: 100%;
    }
    .right-wrapper{
        display: none;
    }
}



/* 左边区域banner */


 .left-wrapper .banner {
    position: relative;
    width: 100%;
    height: 278px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 46px;
}


/* 涂鸦背景 */
.banner__doodling {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 278px;
}

/* 金钱 */
.banner__money {
    position: absolute;
    width: 124px;
    height: 104px;
    left: 14px;
    bottom: 38px;
}

/* 房子 */
 .banner__house {
    position: absolute;
    width: 171px;
    height: 123px;
    top: 0;
    left: 70px;
}

/* 标题 */
 .banner__title {
    width: 493px;
    height: 124px;
    position: absolute;
    left: 152px;
    bottom: 36px;
    z-index: 999;
}

/* 火箭 */
  .banner__rocket {
    width: 44px;
    height: 76px;
    position: absolute;
    top:22px ;
    left: 552px;
}

/* 主持人 */
 .banner__people {
    width: 232px;
    height: 282px;
    position: absolute;
    right: 120px;
    top: 4px;
    z-index: 99;
}

/* 金字塔 */
 .banner__glod {
    width: 219px;
    height: 209px;
    position: absolute;
    top: 78px;
    right: 10px;
}
@media screen and (max-width:768px){
    .left-wrapper .banner {
        width: 100%;
        height: 240px;
    }
    .banner__doodling {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    .banner__money {
        position: absolute;
        left: 0;
        bottom: 16px;
        width: 69px;
        height: 85px;
    }
    .banner__house {
        position: absolute;
        width: 126px;
        height: 91px;
        top: 16px;
        left: 16px;
    }
    .banner__title {
        width: 467px;
        height: 144px;
        position: absolute;
        left: 61px;
        bottom: 3px;
        z-index: 999;
    }
    .banner__rocket {
        width: 36px;
        height: 64px;
        position: absolute;
        top:30px ;
        left: 470px;
    }
    .banner__people {
        width: 181px;
        height: 220px;
        position: absolute;
        right: 56px;
        top: 20px;
        z-index: 99;
    }
    .banner__glod {
        width: 50px;
        height: 80px;
        position: absolute;
        right: 0px;
        bottom: 22px;
        z-index: 99;
    }
}


/* 左边video */

 .left-wrapper .video-wrapper .video__title {
    font-size: 24px;
    color: #5A323C;
    margin-bottom: 18px;
}

 .video__player {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border-radius: 11px;
    border: 10px solid rgba(198, 84, 76, 1);
}
@media screen and (max-width:768px){
    .left-wrapper .video-wrapper {
        box-sizing: border-box;
        width: 100%;
        padding: 0 24px;
    }
    .video__player {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border-radius:11px;
        border:10px solid rgba(198,84,76,1);
    }

}
/* 社交分享 */
.video__player .share {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    right: -10px;
    top: -40px;
    width:232px;
    height:40px;
    padding: 0 18px;
    background:rgba(198,84,76,1);
    border-radius:12px 12px 0px 0px;
    z-index: 99;
}
@media screen and (max-width:768px){
    .video__player .share {
        display: none;
    }
}
.video__player .share .share-btn {
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:rgba(240,225,225,1);
    line-height:19px;
    letter-spacing:1px;
    margin-left: 6px;
}
/* 播放暂停按钮 */
.video__player .play-btn {
    width: 100px;
    height: 100px;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    cursor: pointer;
}

.video__player .play-btn img {
    width: 100px;
    height: 100px;
    transition: transform .5s ease;
}
.video__player .play-btn img:hover {
    transform: scale(1.1);
}



/* 人物介绍 */
.left-wrapper .intro {
   display: none;
}
.left-wrapper .votes {
    display: none;
}
@media screen and (max-width:768px){
    .left-wrapper .intro {
        display: block;
        padding: 0 24px 0;

    }
    .left-wrapper .intro .header{
        border-top: 1px solid rgba(217, 210, 210, 1);
        margin-top: 42px;     

    }
    .left-wrapper .intro .header .header__title {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width:70%;
        height:64px;
        background:rgba(198,84,76,1);
        border-radius:12px;
        border:2px solid rgba(119,105,105,1);
        font-size:30px;
        color:rgba(255,255,255,1);
        line-height:19px;
        letter-spacing:2px;
        margin: 41px auto 55px;
    }
    .left-wrapper .intro .intro-list {
        display: flex;
        justify-content: space-between;
    }
    .intro .intro-list .intro-list__item {
        width: 20%;
    }
    .intro .intro-list .list-item__avatar{
        display: flex;
        width: 100%;
        border-radius: 50%;
        margin-bottom: 22px;

    }
    .intro .intro-list .list-item__info {
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }
    .intro .intro-list .list-item__info .info-name {
        font-size:30px;
        color:rgba(90,50,60,1);
        line-height:40px;
        letter-spacing:3px;
        }
        .intro .intro-list .list-item__info .icon {
            display: inline-block;
            width: 22px;
            height: 22px;
            background-image: url(../img/arrow-.png);
            background-repeat: no-repeat;
            background-position: 0px;
            background-size: 100%;
        }
 .intro article {
            margin-top: 28px;
            box-sizing: border-box;
            position: relative;
            padding: 25px 41px;
            background-color: #fff;
            border:1px solid rgba(90,50,60,1);
            border-radius: 12px;
            font-size:24px;
            color:rgba(90,50,60,1);
            line-height:45px;
            letter-spacing:1px;
        }
.intro article::before{
            content: "";
            position: absolute;
            display: inline-block;
            width: 18px;
            height: 18px;
            background-color: #fff;
            border: 1px solid rgba(90,50,60,1);
            transform: rotate(45deg);
            left: 30px;
            top: -10px;        
            border-bottom: none;
            border-right: none;
        }
        .left-wrapper .votes{
            display: block;
            box-sizing: border-box;
            font-size:32px;
            font-family:Helvetica;
            color:rgba(90,50,60,1);
            line-height:38px;
            letter-spacing:1px;
            padding: 0 24px 0 23px;
        }
        .left-wrapper .votes .header{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 42px 0 21px;
            font-size:32px;
            font-family:Helvetica;
            color:rgba(90,50,60,1);
            line-height:38px;
            letter-spacing:1px;
        }
        .left-wrapper .votes .header .header-txt {
            margin: 0 42px;
        }
        .left-wrapper .votes .header .circle {
            width:16px;
            height:16px;
            border-radius: 50%;
            border:2px solid rgba(90,50,60,1)
        }
        .left-wrapper .votes .question{
            margin: 0 7px 19px;
            font-size:28px;
            font-family:Helvetica;
            color:rgba(90,50,60,1);
            line-height:40px;
            letter-spacing:2px;
        }
 .votes .votes-options {
            display: flex;
            justify-content: space-between;

        }
 .votes-options__item {
            width: 47%; 
            box-sizing: border-box;
        }
        .votes-options__item .count {
            padding-top: 66px;
            text-align: center;
            font-size:24px;
            font-family:Helvetica;
            color:rgba(90,50,60,1);
            line-height:29px;
            letter-spacing:2px;
        }
        .options__item-wrapper {
            position: relative;
            border-radius:6px;
            width: 100%;
            border:3px solid rgba(180,160,160,1);
            background-color: #fff;
            padding: 16px 16px 55px 16px;
            box-sizing: border-box;
        }
 .options__item-wrapper img{
            width: 100%;
            
        } 
.options__item-wrapper .votes-btn {
            position: absolute;
            width:198px;
            height:84px;
            background:rgba(198,84,76,1);
            border-radius:40px;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,50%);
            font-size:36px;
            font-family:Helvetica;
            color:rgba(255,255,255,1);
            line-height:43px;
            letter-spacing:3px;
        }


    }



/* 左边往期回顾 */

 .left-wrapper .review {
    margin-top: 40px;

}


 .review .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    border-top: 1px solid rgba(217, 210, 210, 1);
}

.review-header .title {
    display: flex;
    align-items: center;
}

 .review-header .title .icon_1 {
    width: 22px;
    height: 22px;
}

.review-header .title .icon_2 {
    width: 32px;
    height: 17px;
}

 .review-header .title .text {
    font-size: 18px;
    font-family: Helvetica;
    color: rgba(90, 50, 60, 1);
    letter-spacing: 2px;
    margin: 0 2px 0 9px;
}

 .review-header .more {
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: rgba(180, 160, 160, 1);
    line-height: 14px;
    letter-spacing: 1px;
    text-decoration: none;
}
@media screen and (max-width:768px){
    .left-wrapper .review {
        padding: 0 24px;
    }
    .review .review-header {
        padding: 42px 0 25px;
    }
    .review-header .title .icon_1 {
        width: 29px;
        height: 29px;
    }
    .review-header .title .icon_2 {
        width: 42px;
        height: 22px;
    }
    .review-header .title .text {
        font-size:24px;
        line-height:29px;
        margin:0 5px 0 12px;
    }
    .review-header .more {
        font-size:20px;
    }
}


/* 往期回顾内容 */

 .review .review-list {
    display: flex;
    justify-content: space-between;
}

  .review-list .review-list__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    transition: transform 1s cubic-bezier(0.21, 0.94, 0.57, 1.49);
}

/* 动画 */
 .review-list__item:hover {
    box-shadow: 5px 6px 20px 0px #d9d2d2;
    transform: scale(1.05);
}

 .review-list__item img {
    width: 100%;
}

 .review-list__item .info {
    flex: 1;
    background: #fff;
    padding: 7px 11px;
}

 .review-list__item .title {
    font-size: 16px;
    color: #5A323C;
    margin-top: 6px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

 .review-list__item .date {
    font-size: 14px;
    color: #5A323C;
    margin-top: 5px;
}
@media screen and (max-width:768px){
    .review-list .review-list__item {
        width: 50%;
    }
    .review-list .review-list__item:first-child{
        margin-right: 19px;
    }
    .review-list .review-list__item:last-child{
        display: none;
    }
    .review-list__item .title {
        font-size:24px;
        line-height:31px;
        letter-spacing:1px;
    }
    .review-list__item .date {
        font-size:20px;
        line-height:26px;
        letter-spacing:1px;
    }
}


/* 留言区 */

 .left-wrapper .message-boards {
    margin-top: 36px;

}


 .message-boards__title {
    display: flex;
    align-items: center;
    padding: 18px 0;
    border-top: 1px solid rgba(217, 210, 210, 1);
}

  .message-boards__title .icon_1 {
    width: 22px;
    height: 22px;
}

 .message-boards__title .icon_2 {
    width: 32px;
    height: 17px;
}

 .message-boards__title .text {
    font-size: 18px;
    font-family: Helvetica;
    color: rgba(90, 50, 60, 1);
    margin: 0 2px 0 9px;
    letter-spacing: 2px;
}
@media screen and (max-width:768px){
    .left-wrapper .message-boards {
        margin-top: 42px;

    }
    .message-boards__title {
        padding: 42px 0 25px;
    }
    .message-boards__title .icon_1 {
        width: 29px;
        height: 29px;
    }
    .message-boards__title .icon_2 {
        width: 42px;
        height: 22px;
    }
    .message-boards__title .text {
        font-size:24px;
        line-height:29px;
        padding:0 5px 0 12px;
    }
}


/* 讨论问题 */

 .message-boards__problem {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 102px;
    border-radius: 12px;
    border: 2px solid rgba(180, 160, 160, 1);
    background: #fff;
    margin-bottom: 17px;
    padding: 30px 105px 0 105px;
}

 .message-boards__problem .problem-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .message-boards__problem .title-icon {
    width: 32px;
    height: 32px;
    margin-right: 36px;
}

 .message-boards__problem .problem-content {
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: rgba(90, 50, 60, 1);
    line-height: 24px;
    letter-spacing: 1px;
}


/* 连接条 */
 .message-boards__problem .link-left {
    position: absolute;
    left: 80px;
    top: 85px;
}

 .message-boards__problem .link-right {
    position: absolute;
    right: 80px;
    top: 85px;
}


/* 评论区 */

 .message-boards .message-boards__content {
    box-sizing: border-box;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border-radius: 23px;
    border: 2px solid rgba(180, 160, 160, 1);
    margin-bottom: 40px;
    padding: 56px 36px;
}


/* 媒体查询 */

@media screen and (max-width:768px){
    .left-wrapper .message-boards {
        padding: 0 24px;
    }
    .message-boards__problem {
        width: 100%;
        height: 196px;
        padding: 44px 24px;
        margin-bottom: 24px;
    }
    .message-boards__problem .title-icon {
        width: 39px;
        height: 39px;
        margin-right: 26px;
    }
    .message-boards__problem .problem-content {
        font-size:24px;
        line-height:36px;
        letter-spacing:2px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
    .message-boards .message-boards__content {
        width: 100%;
    }
    .message-boards__problem .link-left {
        left:26px;
        top: 185px;
    }
    .message-boards__problem .link-right {
        right:26px;
        top: 185px;
    }
}



 .content__input-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 36px;
    width: 100%px;
    height: 102px;
    border-radius: 12px;
    border: 2px solid rgba(180, 160, 160, 1);
}


 .content__input-wrapper .icon {
    width: 19px;
    height: 15px;
    margin-right: 25px;
}

 .content__input-wrapper .tips {
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: rgba(180, 160, 160, 1);
    line-height: 24px;
    letter-spacing: 1px;
}


.content__input-wrapper .right {
    display: flex;
    justify-content: flex-end;
}
 .content__input-wrapper .right .btn {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    display: inline-block;
    box-sizing: border-box;
    width: 72px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    letter-spacing: 1px;
    border: 1px solid rgba(180, 160, 160, 1);
    cursor: pointer;
}


 .content__input-wrapper .right .register-btn {
    color: rgba(180, 160, 160, 1);
    border: 1px solid rgba(180, 160, 160, 1);
    letter-spacing: 1px;
    margin-right: 18px;
}


 .content__input-wrapper .right .login-btn {
    color: rgba(255, 255, 255, 1);
    background: rgba(198, 84, 76, 1);
}

@media screen and (max-width:768px){
    .content__input-wrapper {
        width: 100%;
        padding: 30px 24px;
     }
    .content__input-wrapper .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .content__input-wrapper .icon {
        width: 30px;
        height: 31px;
        margin-right: 12px;
    }
    .content__input-wrapper .tips {
        font-size:20px;
        line-height:24px;
        letter-spacing:2px;
    }
    .content__input-wrapper .right{
        display: flex;
    }
    .content__input-wrapper .right .btn {
        width: 108px;
        height: 42px;
    }
    .content__input-wrapper .right .register-btn {
        margin-right: 12px;
    }
}



/* 评论分割线 */

 .content__split-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    margin-top: 54px;
}

 .content__split-line .split-line__left {
    flex: 1;
    height: 1px;
    background: rgba(217, 210, 210, 1);
}

 .content__split-line .split-line__title {
    margin: 0 18px;
    color: rgba(180, 160, 160, 1);
}
@media screen and (max-width:768px){
    .content__split-line .split-line__title {
        font-size: 20px;
    }
}


 .content__split-line .split-line__right {
    flex: 1;
    height: 1px;
    background: rgba(217, 210, 210, 1);
}

/* 评论列表项 */
 .comment-list__item{
    position: relative;
    display: flex;
    margin: 24px 0 55px 0;
}
@media screen and (max-width:768px){
    .comment-list__item{
        position: relative;
        display: flex;
        flex-direction: row-reverse;
    }
}
 .comment-list__item .order {
    margin-right: 36px;
}
 .comment-list__item .order img {
    width: 40px;
    height: 43px;
}
 .comment-list__item .item_wrapper {
    flex: 1;
    padding: 0 0 55px 0;
    border-bottom: 1px solid #D9D2D2;
}
 .comment-list__item .item_wrapper
.comment_content {
    font-size:14px;
    margin-top: 19px;
    font-family:MicrosoftYaHei;
    color:rgba(90,50,60,1);
}

 .comment-list__item .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

 .comment-list__item .item .avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 12px;
}
 .comment-list__item .item  .username {
    font-size:18px;
    font-family:Helvetica;
    color:rgba(90,50,60,1);
}
 .comment-list__item .item  p{
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:rgba(180,160,160,1);
}
/* 回复按钮 */
 .comment-list__item .reply-btn {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 18px;
    font-size:14px;
    color:rgba(180,160,160,1);
    letter-spacing:1px;
}
 .comment-list__item .reply-btn img {
    width: 15px;
    margin-right: 4px;
}

@media screen and (max-width:768px){
    .comment-list__item .item .avatar {
        margin-right: 24px;
    }
    .comment-list__item{
        position: relative;
        display: flex;
        flex-direction: row-reverse;
    }
    .comment-list__item .item  .username {
        font-size:24px;
        margin-bottom: 6px;

    }
    .comment-list__item .item  p{
        font-size: 20px;
    }
    .comment-list__item .item_wrapper
    .comment_content {
        margin:0;
        font-size:24px;
        line-height:35px;
        padding: 22px 0 0 82px;
    }
    .comment-list__item .order {
        margin-right: 0;
    }
    .comment-list__item .reply-btn {
        font-size: 20px;
    }
}
/* ==================================右侧栏开始========================================= */


 .right-wrapper .title {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
    display: inline-block;
    width:269px;
    height:36px;
    background:rgba(198,84,76,1);
    border-radius:12px;
    border:2px solid rgba(119,105,105,1);
    font-size:18px;
    font-family:Helvetica;
    color:rgba(255,255,255,1);
    letter-spacing:1px;
    text-align: center;
    line-height: 36px;
}
 .right-wrapper .intro_wrapper {
    display: flex;
    justify-content: space-between;
    margin:39px 0 69px 0;
}
 .right-wrapper .intro_wrapper img {
    margin-right: 24px;
}
 .right-wrapper .intro_wrapper p {
    font-size:14px;
    font-family:Helvetica;
    color:rgba(90,50,60,1);
    line-height:17px;
    letter-spacing:1px;
 }
 /* 讨论问题 */

  .right-wrapper .question_wrapper .title.question {
    position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
    font-size:18px;
    font-family:Helvetica;
    color: #fff;
    line-height:20px;
    letter-spacing:1px;
 }

 /* 投票 */
  .right-wrapper .question_wrapper .votes {
     display: flex;
     justify-content: space-between;
     margin-top: 22px;
 }
 .question_wrapper .votes .options_item {
     text-align: center;
     cursor: pointer;

 }
 
 /* 投票数 */
.options_item .count {
     margin-top: 12px;
     font-size:14px;
    font-family:Helvetica;
    color:rgba(90,50,60,1);
    line-height:17px;
    letter-spacing:1px;
 }

.options_item .wrapper {
    width:140px;
    height:110px;
    background:rgba(255,255,255,1);
    border-radius:6px;
    border:2px solid rgba(180,160,160,1);
    text-align: center;
    box-sizing: border-box;
    padding: 7px;
 }
.options_item .wrapper .options_title {
    font-size:14px;
    font-family:Helvetica;
    color:rgba(90,50,60,1);
    line-height:17px;
    letter-spacing:1px;
 }
.options_item .wrapper .item {
     position: relative;
     overflow: hidden;
 }
.options_item .wrapper .item img {
     height: 74px;
 }
.options_item .wrapper .item .btn {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     font-size:14px;
    font-family:Helvetica;
    color:rgba(255,255,255,1);
    line-height:17px;
    letter-spacing:1px;
 }

 /* 活动栏 */
  .right-wrapper .activity .bitmap {
     width: 312px;
     height: 59px;
     border: 1px dotted #333;
     margin: 45px 0 42px 0;
 }
  .right-wrapper .activity h3 {
    width:269px;
    height:36px;
    text-align: center;
    line-height: 36px;
    background:rgba(248,246,243,1);
    border-radius:12px;
    border:2px solid rgba(119,105,105,1);
    margin: 0 auto;
    font-size:18px;
    font-family:Helvetica;
    color:rgba(198,84,76,1);
    letter-spacing:1px;
 }
  .right-wrapper .activity .act_question {
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:rgba(90,50,60,1);
    line-height:20px;
    letter-spacing:1px;
    margin: 15px 0 20px 0;
 }
  .right-wrapper .activity .act_btn {
     display: inline-block;
     margin:15px 119px;
     width: 103px;
     height: 36px;
     box-sizing: border-box;
     background:rgba(198,84,76,1);
    border-radius:20px;
     line-height: 36px;
     text-align: center;
     font-size: 14px;
     color: #fff;

 }

 /* 联系方式 */
 .right-wrapper .contact  {
     padding-left: 38px;
     margin-bottom: 24px;
 }
  .right-wrapper .contact .welcome {
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:rgba(90,50,60,1);
    line-height:19px;
    padding: 12px 0;
 }
 .contact .contact_info {
     display: flex;
     justify-content: flex-start;
     align-items: center;
 }
 .contact .contact_info .QR_code {
     width: 84px;
     height: 84px;
     margin-right: 14px;

 }
 .contact .contact_info .contact_way {
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:rgba(90,50,60,1);
    line-height: 1.4em;
 }
 /* 底部线条 */
  .right-wrapper .line {
    position: absolute;
    display: inline-block;
    width: 373px;
    height: 57px;
    border-radius: 57px;
    border: 2px solid rgba(180, 160, 160, 1);
    bottom: 6px;
    left: -11px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
 }



 /* backTop */

 .backTop {
     position: fixed;
     right: 90px;
     bottom: 120px;
     width: 60px;
     height: 60px;
     display: none;
     cursor: pointer;
     transition: transform .4s ease;

 }
 .backTop img {
     width: 100%;
    transform: rotate(-19deg)
 }

 .backTop:hover {
     transform: scale(1.2);
 }

 





